@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');

html {
    /* filter: invert(); */
    filter: hue-rotate(0deg);
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.no-select {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#background {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    height: 100%;
    width: 100%;
    background: radial-gradient(circle, transparent 20%, #ffedd8 20%, #ffedd8 80%, transparent 80%, transparent) 0% 0% / 52px 52px, radial-gradient(circle, transparent 20%, #ffedd8 20%, #ffedd8 80%, transparent 80%, transparent) 26px 26px / 52px 52px, linear-gradient(#d4a276 2px, transparent 2px) 0px -1px / 26px 26px, linear-gradient(90deg, #d4a276 2px, #ffedd8 2px) -1px 0px / 26px 26px #ffedd8;
    background-size: 52px 52px, 52px 52px, 26px 26px, 26px 26px;
    filter: blur(1px);
    -webkit-filter: blur(1px);
}

#title,
#second-title,
#tm {
    text-align: center;
    padding: 0;

    margin: 7.5vh 0 0 0;
    color: #ffedd8;
    text-shadow: 3px 4px #311b0073;
    font-size: 3rem;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #311b00;
    font-family: 'Ubuntu', sans-serif;
}

#second-title {
    margin-top: 10px;
    font-size: 2.5rem;
}

#tm {
    text-shadow: 0 0 #311b0073;
    -webkit-text-stroke-width: 0;
    color: #311b00;
    font-size: 2rem;
    margin-left: 4px;
}


#cup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 180px;
    background-color: #ffedd8DD;
    border: 5px solid transparent;
    border-top: 2px solid transparent;
    border-radius: 5px 5px 15px 15px;
    box-shadow: 0 0 0 6px #311B00, 0 20px 55px #583101;
    transition: all .1s ease-out;
    font-size: 4rem;
}

#cup:hover {
    transform: translate(-50%, -50%) scale(1.05);
    cursor: pointer;
}

#cup.cup-animation:hover {
    transform: translate(-50%, -50%) scale(1.2);
    cursor: pointer;
}

#cup.cup-animation {
    transform: translate(-50%, -50%) scale(1.2);
}

#cup:before {
    content: "";
    position: absolute;
    width: 50px;
    height: 80px;
    border: 6px solid #311b00;
    right: -68px;
    top: 30px;
    border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
}

#steam {
    position: absolute;
    top: calc(50% - 175px);
    left: 50%;
    width: 95px;
    height: 95px;
    transform: translate(-50%, -50%);
    animation: shake 10s linear infinite;
}

#number {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFEDD8;
    text-shadow: 3px 4px #311b0073;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #311b00;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    z-index: 1;
}

#counter {
    margin: 0;
    padding: 0;

    font-size: 1.5rem;
    font-family: 'Ubuntu', sans-serif;
    color: #311b00;
}


#liquid {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    overflow: hidden;
}

#wave {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-image: url("assets/coffee4.png"); */
    animation: move-liquid 1s linear infinite;
}

footer {
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100vw;
    bottom: 5px;
    text-align: center;
    color: #311b00;
    font-weight: 600;
}

@keyframes move-liquid {
    0% {
        background-position: 0% 0;
    }
    100% {
        background-position: 200px 0;
    }
}

@keyframes shake {
    10%, 90% {
        transform: translate(-51%, -51%);
    }

    20%, 80% {
        transform: translate(-48%, -49%);
    }

    30%, 50%, 70% {
        transform: translate(-54%, -51%);
    }

    40%, 60% {
        transform: translate(-46%, -49%);
    }
}

@media (max-height: 900px) {
    #steam {
      display: none;
    }
}